<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.antenna.blog.mapper.UserMapper">   <!--指定mapper位置-->

    <select id="getUser" resultType="com.antenna.blog.entity.User">
        SELECT * FROM user WHERE username=#{arg0} and password=#{arg1}
    </select>

</mapper>